# sample invoke.yaml file

debug: true

lidar:
    name: lidar
    host: 192.168.0.2
    user: micro
    pwd: python
    monitor: GP4
    trigger: GP6

dotstar:
    name: dotstar
    host: 192.168.0.3
    user: micro
    pwd: python
    port: 60000

server:
    name: server
    host: 192.168.0.4
    user: myusername
    pwd: mypassword

wlan:
    ssid: YOURSSID
    pwd: YOURPASSWORD

